In [ ]:
## Q1. What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate it   
##application.

Min-Max scaling normalizes features to a specified range (usually 0 to 1) by subtracting the minimum and dividing 
by the range.

In [2]:
#Example 

import pandas as pd 
import seaborn as sns 

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
df1 = pd.DataFrame(min_max.fit_transform(df[['total_bill','tip']]),columns=['total_bill','tip'])
df1.head()

   total_bill       tip
0    0.291579  0.001111
1    0.152283  0.073333
2    0.375786  0.277778
3    0.431713  0.256667
4    0.450775  0.290000

In [ ]:
#Q2. What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling?
#Provide an example to illustrate its application.

Unit Vector scaling rescales features to have a magnitude of 1, preserving direction, by dividing each feature
by its norm.

Unit Vector scaling focuses on preserving the direction of the feature vectors, while Min-Max scaling normalizes 
them within a specified range.

In [9]:
#Example
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
from sklearn.preprocessing import normalize
df1 = pd.DataFrame(normalize(df[['sepal_length','sepal_width','petal_length' ,'petal_width']]),
                   columns = ['sepal_length','sepal_width','petal_length', 'petal_width'])

In [13]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width
0      0.803773     0.551609      0.220644     0.031521
1      0.828133     0.507020      0.236609     0.033801
2      0.805333     0.548312      0.222752     0.034269
3      0.800030     0.539151      0.260879     0.034784
4      0.790965     0.569495      0.221470     0.031639

In [ ]:
#Q3. What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an
#example to illustrate its application.

PCA is a statistical technique used for reducing the dimensionality of data by transforming it into a 
lower-dimensional space while preserving most of its variance. It identifies orthogonal components capturing 
the maximum variance. Example: Reducing features like age, income, and 
education level into a single "socioeconomic status" component.

In [ ]:
#Q4. What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature
#Extraction? Provide an example to illustrate this concept.



PCA is a feature extraction technique that identifies the most informative features in a dataset by capturing
maximum variance. It transforms the data into a lower-dimensional space while retaining essential information. 
For instance, in facial recognition, PCA extracts key facial features from images while discarding irrelevant 
details, aiding in classification.

In [ ]:
#Q5. You are working on a project to build a recommendation system for a food delivery service. The dataset
#contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling to
#preprocess the data.

In the context of building a recommendation system for a food delivery service, Min-Max scaling would be used to 
preprocess the features such as price, rating, and delivery time.

    Price: Min-Max scaling would ensure that the price feature is scaled to a specific range, typically 
    between 0 and 1. This normalization prevents features with larger numerical values (such as price) from 
    dominating the model's learning process.

    Rating: Similarly, rating values can vary widely, so scaling them to a common range ensures that they contribute
    equally to the model's training process.

    Delivery Time: Min-Max scaling would also be applied to delivery time, ensuring that it is represented on a 
    consistent scale with the other features.

By applying Min-Max scaling to these features, you ensure that they are on a comparable scale, which helps in 
training machine learning models effectively. This preprocessing step enhances the performance and stability of 
the recommendation system.

In [ ]:
#Q6. You are working on a project to build a model to predict stock prices. The dataset contains many
#features, such as company financial data and market trends. Explain how you would use PCA to reduce the
#dimensionality of the dataset.

To reduce the dimensionality of the dataset for predicting stock prices, PCA can be applied in the following steps:

    Data Preprocessing: Standardize the dataset to ensure that all features have a mean of 0 and a standard deviation
    of 1. This step is crucial for PCA as it operates based on variance.

    PCA Application: Apply PCA to the standardized dataset. PCA will identify the principal components 
    (linear combinations of the original features) that capture the maximum variance in the data.

    Component Selection: Select the desired number of principal components based on the explained variance ratio or 
    a predefined threshold. This step involves analyzing the cumulative explained variance and choosing the number of components that retain most of the variance in the data.

    Dimensionality Reduction: Transform the dataset by retaining only the selected principal components. 
    This reduces the dimensionality of the dataset while preserving most of the information.

By using PCA, the model can focus on the most important features (principal components) that explain the
variability in stock prices, thus simplifying the model and potentially improving its performance.
Additionally, reducing dimensionality can mitigate the curse of dimensionality and enhance computational efficiency.

In [14]:
#Q7. For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the
#values to a range of -1 to 1.
data = [1, 5, 10, 15, 20]
df = pd.DataFrame(data)
df

    0
0   1
1   5
2  10
3  15
4  20

In [15]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
df1 = pd.DataFrame(min_max.fit_transform(df))

In [16]:
df1

          0
0  0.000000
1  0.210526
2  0.473684
3  0.736842
4  1.000000