In [1]:
#Q1

import numpy as np
list_ = [ '1' ,'2' , '3' , '4' , '5' ]
array_list = np.array(object = list_)

In [2]:
type(list_)

list

In [3]:
type(array_list)

numpy.ndarray

yes , there is differnce between data types list_ is a python list and array_list is numpy narray

In [4]:
#Q2

for i in list_:
    print(i,type(i))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>

In [5]:
for i in array_list:
    print(i,type(i))

1 <class 'numpy.str_'>
2 <class 'numpy.str_'>
3 <class 'numpy.str_'>
4 <class 'numpy.str_'>
5 <class 'numpy.str_'>

In [6]:
#Q3


list_

['1', '2', '3', '4', '5']

In [7]:
array_list = np.array(object = list_ , dtype = int)

In [8]:
array_list

array([1, 2, 3, 4, 5])

In [9]:
type(list_)

list

In [10]:
type(array_list)

numpy.ndarray

In [11]:
for i in list_:
    print(i,type(i))

1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>

In [12]:
for i in array_list:
    print(i,type(i))

1 <class 'numpy.int32'>
2 <class 'numpy.int32'>
3 <class 'numpy.int32'>
4 <class 'numpy.int32'>
5 <class 'numpy.int32'>

In [ ]:
#Q4
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)